video{
    width: 500px;
    border: 1px solid white;
    object-fit: cover;
}
body{
    background-color: black;
}
h2{
    color: white;
    font-style: oblique;
}
img{
    object-fit: cover;
    width: 20%;
    height: 20%;
    border: 1px soid white;
}